#page{ 
    width: 80%; 
    margin: 60px auto; 
}
#page > div { 
    margin: 0 0 50px 0; 
    min-width: 500px; 
    width: 100%; }

.group:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.group { 
    display: inline-block; 
}

.five-columns { 
	background-image: -webkit-gradient(
		linear,
		left top,
		right top,
		color-stop(0, #eee),
		color-stop(20%, #eee),
		color-stop(20%, #ccc),
		color-stop(40%, #ccc),
		color-stop(40%, #eee),
		color-stop(60%, #eee),
		color-stop(60%, #ccc),
		color-stop(80%, #ccc),
		color-stop(80%, #eee),
		color-stop(100%, #eee)
	);   	
	background-image: -webkit-linear-gradient(
		left, 
		#eee, 
		#eee 20%,
		#ccc 20%,
		#ccc 40%,
		#eee 40%,
		#eee 60%,
		#ccc 60%,
		#ccc 80%,
		#eee 80%,
		#eee 100%
	);
	background-image: -moz-linear-gradient(
		left, 
		#eee, 
		#eee 20%,
		#ccc 20%,
		#ccc 40%,
		#eee 40%,
		#eee 60%,
		#ccc 60%,
		#ccc 80%,
		#eee 80%,
		#eee 100%
	);
	background-image: -ms-linear-gradient(
		left, 
		#eee, 
		#eee 20%,
		#ccc 20%,
		#ccc 40%,
		#eee 40%,
		#eee 60%,
		#ccc 60%,
		#ccc 80%,
		#eee 80%,
		#eee 100%
	);
	background-image: -o-linear-gradient(
		left, 
		#eee, 
		#eee 20%,
		#ccc 20%,
		#ccc 40%,
		#eee 40%,
		#eee 60%,
		#ccc 60%,
		#ccc 80%,
		#eee 80%,
		#eee 100%
	);
}
		.five-columns .col {
			width: 16%; float: left; padding: 2%;
		}
		