@charset "UTF-8";
/* CSS Document */
*{
	padding:0;
	margin:0;
	}
#fonBlock{
	background-color: rgba(241, 233, 158, 0.726);
}

.boxing h2{
	color:grey;
	
}
.boxing p{
	
	font-size: 14px;	
}
.red_color h2{
color: red;
}

.green_color p{
	font-size: 16px;
	color: green;
}


